<div class="container-fluid">
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">

            <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
            <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>


        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">

                <section class="container product-info" style="font-size:20px">
                    <br>
                    Le broyeur utilisé est un broyeur en double tôle dans le but de respecter les
                    normes de bruits en vigueur puisqu’il est silencieux,<br> équipé par un système
                    d’aspiration pour protéger l’atmosphère extérieur, de forme chapeau
                    chinois et une cyclone chromée et un <br>filtre intégré de manière à récupérer
                    les poussières de plastique et les ramener aux sacs de produit fini pour
                    accélérer la <br>production.
                    <br>Ce modèle est conçu pour le traitement de tout type de plastique (PET, PP,
                    PEBD, PEHD, PS ........)
                    <br>Le procédé de transformation des déchets plastiques ne comporte pas de
                    phase de lavage.
                </section>

            </div>
            <div class="tab-pane fade" id="service-two">

                <section class="container">
                    <br>
                    <table>
                        <tr>
                            <th style="text-align: center">Modèle</th>
                            <th style="text-align: center">Caractéristiques</th>

                        </tr>
                        <tr>
                            <td><b>Broyeur à plastique PC1000</b></td>
                            <td>6LM*4LF
                                <br>Moteur: 37KW
                                <br>chapeaux :chinois
                                <br>Chambre de broyage :1000*500mm
                                <br>Aspirateur complet
                                <br>Double Tôle
                                <br>Cyclone chromée
                                <br>Alimentation :380V
                                <br>Dimension :2450*1760*2500cm
                                <br>Poids :2300kg
                            </td>

                        </tr>
                        <tr>
                            <td><b>Broyeur à plastique
                                PC 800</b></td>
                            <td>6LM*4LF
                                <br>Moteur: 22KW
                                <br>chapeaux :chinois
                                <br>Chambre de broyage : 810*450mm
                                <br>Aspirateur complet
                                <br>Double Tôle
                                <br>Cyclone chromée
                                <br>Alimentation :380V
                                <br>Dimension : 1750*1550*2120 cm
                                <br>Poids : 1618kg
                            </td>

                        </tr>
                        <tr>
                            <td><b>Broyeur à plastique
                                PC 650</b></td>
                            <td>6LM*4LF
                                <br>Moteur: 18Kw
                                <br>Chapeaux :chinois
                                <br>Chambre de broyage :650*420mm
                                <br>Aspirateur complet
                                <br>Double Tôle
                                <br>Cyclone chromée
                                <br>Alimentation :380V
                                <br>Dimension :1200*1200*1500cm
                                <br>Poids :900kg
                            </td>

                        </tr>
                    </table>

                </section>

            </div>

        </div>
        <hr>
    </div>
</div>