<div class="container-fluid">
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">

            <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
            <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>


        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">

                <section class="container product-info" style="font-size:20px">
                    <br>
                    C’est une machine utilisée pour réduire le volume et l’humidité, de la
                    matière et des déchets Plastiques, de toutes les formes PEBD,<br> PEHD, PS,
                    PP .La taille de la matière à densifier n’a pas de limite du moment où la
                    machine peut être manipulée d’une manière <br> sécurisée. Ce densificateur est
                    capable de manipuler la matière sèche ou humide.
                    La densification permet d’obtenir un mélange <br>homogène des plastiques de
                    caractéristiques différentes selon leur provenance.
                </section>

            </div>
            <div class="tab-pane fade" id="service-two">

                <section class="container">
                    <br>

                    <table>
                        <tr>
                            <th style="text-align: center">Modèle</th>
                            <th style="text-align: center">Caractéristiques</th>

                        </tr>
                        <tr>
                            <td><b>SS-150L</b></td>
                            <td>Volume :150L
                                <br>Lames mobiles :2 pcs
                                <br>Lames fixes :6pcs
                                <br>Vitesse de rotation :1500t/min
                                <br>Puissance Moteur :18,5Kw
                                <br>Capacité de production :100kg/h
                            </td>

                        </tr>
                        <tr>
                            <td><b>Densificateur 80</b></td>
                            <td>Diam :80
                                <br>Moteur 30cv
                                <br>vitesse de rotation :3000t/min
                                <br>Capacité de production :200kg/h
                            </td>

                        </tr>
                    </table>
                </section>

            </div>

        </div>
        <hr>
    </div>
</div>