<div class="container-fluid">
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">

            <li class="active"><a href="#service-one" data-toggle="tab">PRODUCT INFO</a></li>


        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">

                <section class="container product-info" style="font-size:20px">
                    <br>
                    <table>
                        <tr>
                            <td> Modèle</td>
                            <td>BX-10T</td>

                        </tr>
                        <tr>
                            <td>Puissance moteur</td>
                            <td>1.5kw/td>

                        </tr>
                        <tr>
                            <td>Dimension table</td>
                            <td>710*410</td>

                        </tr>
                        <tr>
                            <td>Pression</td>
                            <td>10 tonnes</td>

                        </tr>
                        <tr>
                            <td>Dimension globale</td>
                            <td>710*800*1300mm</td>

                        </tr>
                    </table>
                </section>

            </div>
        </div>


    </div>
</div>