<div class="container-fluid">
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">

            <li class="active"><a href="#service-one" data-toggle="tab">PRODUCT INFO</a></li>

        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">

                <section class="container product-info">
                    <br>
                    <table>
                        <tr>
                            <th style="text-align: center">Désignation</th>
                            <th style="text-align: center">Caractéristiques</th>

                        </tr>
                        <tr>
                            <td>PRESSE HYDRAULIQUE
                                HORIZONTALE DES METAUX
                                (Ferraille et aluminium)
                            </td>
                            <td>
                                Modèle: HB-150T
                                <hr>
                                Volume de balle : 300 * 300mm
                                <hr>
                                Pression : 1500kn
                                <hr>
                                Taille de la Chambre de pression
                                <hr>
                                1200*800*600mm
                                <hr>
                                Temps de cycle: Moins de 150s
                                <hr>
                                Puissance Moteur: 22kw
                                <hr>
                                Poids total: 7000 kg
                            </td>

                        </tr>
                    </table>
                </section>

            </div>


        </div>

    </div>
</div>