<div class="container-fluid">
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">

            <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
            <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>


        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">

                <section class="container product-info" style="font-size:20px">
                    <br>
                    L’ensacheuse multi colonne est une machine d'emballage automatique ; ses
                    fonctions sont l'alimentation<br> automatique, dosage, ensachage, remplissage.
                    Elle est assistée par un système de contrôle PLC, système<br> de contrôle digital
                    de la température qui rend l'ensemble de l'opération plus simple.
                </section>

            </div>
            <div class="tab-pane fade" id="service-two">

                <section class="container">
                    <br>
                    <p style="font-size: 17px">Elle existe en plusieurs pistes</p>
                    <h5><b>*Ensacheuse de sucre 06 pistes</b></h5>
                    <table>

                        <tr>
                            <td>Usage</td>
                            <td>Elle est utilisée pour tous types de matière sous
                                forme granulée ; sucre, café ....etc.
                            </td>

                        </tr>
                        <tr>
                            <td>Max épaisseur</td>
                            <td>0,05-0,1mm</td>

                        </tr>
                        <tr>
                            <td>Max Largeur Film</td>
                            <td>350mm</td>

                        </tr>
                        <tr>
                            <td>Nombre de ligne</td>
                            <td>6</td>

                        </tr>
                        <tr>
                            <td>La pression %</td>
                            <td>99,90%</td>

                        </tr>
                        <tr>
                            <td>Puissance Moteur</td>
                            <td>3,2Kw</td>

                        </tr>
                        <tr>
                            <td>Voltage</td>
                            <td>220V, 50Hz</td>

                        </tr>
                        <tr>
                            <td>Pression (MPA)</td>
                            <td>0,6 MPA</td>

                        </tr>
                        <tr>
                            <td>Capacité de production</td>
                            <td>40-60 Cycle /ligne</td>

                        </tr>
                    </table>
                    <br>
                    <h5><b>*Ensacheuse de sucre avec une seule piste</b></h5>
                    <p>Ensacheuse 01 piste ( 3 sides seal )</p>
                    <table>


                        <tr>
                            <td>packing range</td>
                            <td>1g-100g</td>

                        </tr>
                        <tr>
                            <td>Sealing type</td>
                            <td>3 sides seal</td>

                        </tr>
                        <tr>
                            <td>Total power</td>
                            <td>1,6 Kw</td>

                        </tr>
                        <tr>
                            <td>Voltage</td>
                            <td>AC220V ,50/60Hz</td>

                        </tr>
                        <tr>
                            <td>Net/Gross weight</td>
                            <td>250/300Kg</td>

                        </tr>
                        <tr>
                            <td>matiére de composants de
                                l'ensacheuse
                            </td>
                            <td>Touching material parts is made by stainless steel
                                304
                            </td>

                        </tr>
                        <tr>
                            <td>Système de dosageVoltage</td>
                            <td>volumétrique</td>


                    </table>
                    <br>
                    <h5><b>*Ensacheuse de sucre avec deux pistes</b></h5>
                    <table>


                        <tr>
                            <td>capacité de production</td>
                            <td>40-60 cycle/ligne</td>

                        </tr>
                        <tr>
                            <td>packing range</td>
                            <td>1g-100g</td>

                        </tr>
                        <tr>
                            <td>Voltage</td>
                            <td>AC 220,50/60Hz</td>

                        </tr>
                        <tr>
                            <td>poids net</td>
                            <td>500/600kg</td>

                        </tr>
                        <tr>
                            <td>Total power</td>
                            <td>3,2 Kw</td>

                        </tr>
                        <tr>
                            <td>Making bag size</td>
                            <td>L:50-150mm, w:15-130mm</td>

                        </tr>
                        <tr>
                            <td>Sealing type</td>
                            <td>2 côté (pillow stick)</td>

                        </tr>
                        <tr>
                            <td>matiére de composants de l'ensacheuse</td>
                            <td>Touching material parts is made by stainless
                                steel 304
                            </td>

                        </tr>
                        <tr>
                            <td>Systéme de dosage</td>
                            <td>volumétrique</td>
                        </tr>
                        <tr>
                            <td>systéme de coupe</td>
                            <td>Phtoelectric and tracing system</td>
                        </tr>

                    </table>


                </section>

            </div>

        </div>
        <hr>
    </div>
</div>

