<div class="container-fluid">
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">

            <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
            <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>


        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">

                <section class="container product-info" style="font-size:20px">
                    <br>
                    C’est une unité de façonnage et de découpe des plaques en carton simples
                    ou ondulées équipée d’un mandrin réglable suivant les dimensions du
                    produit fini, il existe deux modèles
                </section>

            </div>
            <div class="tab-pane fade" id="service-two">

                <section class="container">
                    <br>
                    <h3><b>High Speed Automatic carton slotting machine</b></h3>
                    <p>C’est une machine très rapide avec une alimentation automatique</p><br>
                    <table>
                        <tr>
                            <th style="text-align: center">Model</th>
                            <th style="text-align: center">GZK 1200*220</th>
                            <th style="text-align: center">GZK 1200*2600</th>
                            <th style="text-align: center">GZK 1400*2600</th>
                            <th style="text-align: center">GZK 1400*2800</th>

                        </tr>
                        <tr>
                            <td>Width</td>
                            <td> 2200</td>
                            <td> 2600</td>
                            <td>2600</td>
                            <td>2800</td>
                        </tr>
                        <tr>
                            <td>Max mechanical
                                speed (sheets/min)
                            </td>
                            <td>140 (sheets/min)</td>
                            <td>140 (sheets/min)</td>
                            <td>120 (sheets/min)</td>
                            <td>120 (sheets/min)</td>
                        </tr>
                        <tr>
                            <td>Maximum feed size
                                (MM)
                            </td>
                            <td>1200*2000</td>
                            <td>1200*2400</td>
                            <td>1400*2400</td>
                            <td>1400*2600</td>
                        </tr>
                        <tr>
                            <td>Skip feed size (MM)</td>
                            <td>1400*2000</td>
                            <td>1400*2400</td>
                            <td>1600*2600</td>
                            <td>1600*2600</td>
                        </tr>
                        <tr>
                            <td>Minimum feed height 300*650
                                (MM)
                            </td>
                            <td>300*650</td>
                            <td>300*650</td>
                            <td>350*400</td>
                            <td>350*400</td>
                        </tr>
                        <tr>
                            <td>Maximum slot depth
                                (MM)
                            </td>
                            <td>7*300</td>
                            <td>7*300</td>
                            <td>7*350</td>
                            <td>7*350</td>
                        </tr>
                        <tr>
                            <td>Minimum slot
                                opening distance
                                (MM) anti-knife
                                (L*W*L*W)
                            </td>
                            <td> 200*65*200*65</td>
                            <td>200*65*200*65</td>
                            <td>220*65*220*65</td>
                            <td>220*65*220*65</td>
                        </tr>
                        <tr>
                            <td>Minimum slot height
                                (MM)
                            </td>
                            <td>7*100</td>
                            <td>7*100</td>
                            <td>7*100</td>
                            <td>7*100</td>
                        </tr>
                        <tr>
                            <td>For board thickness</td>
                            <td>0-10MM</td>
                            <td>0-10MM</td>
                            <td>0-12MM</td>
                            <td>0-12MM</td>
                        </tr>
                        <tr>
                            <td>Main motor power</td>
                            <td>7,5 KW</td>
                            <td>7,5 KW</td>
                            <td>7,5 KW</td>
                            <td>7,5 KW</td>
                        </tr>
                        <tr>
                            <td>Total power</td>
                            <td>12 KW</td>
                            <td>12 KW</td>
                            <td>14 KW</td>
                            <td>14 KW</td>
                        </tr>
                    </table>


                    <br>
                    <h3><b>Automatic Carton Slotting Machine</b></h3>
                    <p>C’est une machine avec une alimentation manuelle .</p><br>
                    <table>

                        <tr>
                            <td>Model (Unit : mm)</td>
                            <td> 1200*2200</td>
                            <td> 1400*2600</td>
                            <td>1600*2800</td>
                            <td>1800*3000</td>
                        </tr>
                        <tr>
                            <td>Breadth</td>
                            <td>2200</td>
                            <td>2600</td>
                            <td>2800</td>
                            <td>3000</td>
                        </tr>
                        <tr>
                            <td>Maximum feeding
                                size
                            </td>
                            <td>1200*2000</td>
                            <td>1400*2400</td>
                            <td>1600*2600</td>
                            <td>1800*2800</td>
                        </tr>
                        <tr>
                            <td>Minimum feeding
                                size
                            </td>
                            <td>280*280</td>
                            <td>300*300</td>
                            <td>420*420</td>
                            <td>500*500</td>
                        </tr>
                        <tr>
                            <td>Maximum grooving
                                size)
                            </td>
                            <td>7*300</td>
                            <td>7*350</td>
                            <td>7*7400</td>
                            <td>7*450</td>
                        </tr>
                        <tr>
                            <td>Maximum slot depth
                                (MM)
                            </td>
                            <td>7*300</td>
                            <td>7*300</td>
                            <td>7*350</td>
                            <td>7*350</td>
                        </tr>
                        <tr>
                            <td>Minimum grooving
                                clearance
                            </td>
                            <td> 100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100/td>
                        </tr>
                        <tr>
                            <td>Grooving blade
                                thickness overall
                                dimensions)
                            </td>
                            <td>7</td>
                            <td>7</td>
                            <td>7</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Machine</td>
                            <td>3150*3150*1400</td>
                            <td>3550*3200*1400</td>
                            <td>3850*3300*1500</td>
                            <td>4050*3450*1600</td>
                        </tr>
                        <tr>
                            <td>Maximum speed</td>
                            <td>70 pages/min</td>
                            <td>60 pages/min</td>
                            <td>60 pages/min</td>
                            <td>50 pages/min</td>
                        </tr>
                        <tr>
                            <td>Weight (ton)</td>
                            <td>2.6 T</td>
                            <td>3 T</td>
                            <td>3.5 T</td>
                            <td>4.5 T</td>
                        </tr>
                        <tr>
                            <td>Power rate</td>
                            <td>2.2 KW</td>
                            <td>3 KW</td>
                            <td>4 KW</td>
                            <td>5.5 KW</td>
                        </tr>
                    </table>


                    <br>
                    <h3><b>Unité d’emballage en carton pizza</b></h3>
                    <table>

                        <tr>
                            <td>Model</td>
                            <td> ZYM1200*2400</td>
                            <td> ZYM1200*2800</td>

                        </tr>
                        <tr>
                            <td>Printing Colors</td>
                            <td>Three Color</td>
                            <td>Three Color</td>
                        </tr>
                        <tr>
                            <td>Maximum Mechanical Velocity
                                (page/min)
                            </td>
                            <td>60 page/min</td>
                            <td>60 page/min</td>
                        </tr>
                        <tr>
                            <td>Maximum size of paper (MM)</td>
                            <td>1200*2000</td>
                            <td>1200*2500</td>
                        </tr>
                        <tr>
                            <td>Maximum size of printing (MM))</td>
                            <td>1200*2000</td>
                            <td>1200*2500</td>
                        </tr>
                        <tr>
                            <td>Minimum size of paper (MM)</td>
                            <td>320*350</td>
                            <td>320*350</td>

                        </tr>
                        <tr>
                            <td>Maximum size of Die-cutting
                                (MM)
                            </td>
                            <td> 1200*2000</td>
                            <td>1200*2000</td>
                        </tr>
                        <tr>
                            <td>Blade for Die-cutting (MM</td>
                            <td>25,4</td>
                            <td>25,4</td>
                            1
                        </tr>
                        <tr>
                            <td>Thinckness of standard printing
                                board (MM)
                            </td>
                            <td>7</td>
                            <td>7</td>

                        </tr>
                    </table>
                </section>

            </div>

        </div>
        <hr>
    </div>
</div>