{% load static %}

<div class="container-fluid">
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">

            <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
            <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>


        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">

                <section class="container product-info" style="font-size:20px">
                    <br>
                    C'est une machine qui se présente avec différente capacité : 300kg/h, 500kg/h et 1000kg/h.
                </section>

            </div>
            <div class="tab-pane fade" id="service-two">

                <section class="container">
                    <br>

                    <table>
                        <tr>
                            <th style="text-align: center">Désignation</th>
                            <th style="text-align: center">Images</th>

                        </tr>
                        <tr>
                            <td><b>Station de lavage PET à chaud de 500
                                Kg équipée de:</b>
                                <br>Convoyeur de bouteille PET
                                <br>Longueur :4000mm
                                <br>Largueur :600mm
                                <br>Vitesse de Convoyeur :1-10rpm
                            </td>
                            <td><img src='{% static "img/prod/1.png" %}'></td>

                        </tr>
                        <tr>
                            <td><b>Machine de Séparation d'étiquettes
                                de
                                Bouteilles</b>
                                <br>Puissance Moteur:22kw
                                <br>Capacité:500kg/h
                                <br>pourcentage d'enlèvement d'étiquettes
                                95% Dimension:2800*1400*3500mm
                            </td>
                            <td><img src='{% static "img/prod/2.png" %}'></td>

                        </tr>
                        <tr>
                            <td><b>Convoyeur de Bouteille Pet</b>
                                <br>Puissance Moteur:1 ,5kw
                                <br>Longueur:4000 mm
                                <br>largeur:600mm
                                <br>Vitesse de Convoyeur :1- 10 rpm
                            </td>
                            <td><img src='{% static "img/prod/3.png" %}'></td>

                        </tr>
                        <tr>
                            <td><b>Broyeur PET</b>
                                <br>Capacité de production: 500kg/h
                                <br>Puissance Moteur:37kw
                                <br>Dimension:1650*1500*2900
                            </td>
                            <td><img src='{% static "img/prod/4.png" %}'></td>

                        </tr>
                        <tr>
                            <td><b>Vis Chargeur</b>
                                <br>Puissance Moteur:2,2kw
                                <br>Longueur:400mm
                                <br>Vis:380mm
                                <br>Vitesse rotation:35 rpm
                                <br>Dimension:4300 * 580* 870mm
                            </td>
                            <td><img src='{% static "img/prod/5.png" %}'></td>

                        </tr>
                        <tr>
                            <td><b>Lavage à Chaud</b>
                                <br>Connectée avec une chaudière a vapeur,
                                la vapeur est fournie dans le réservoir de
                                lavage à I ‘eau chaude qui élimine les
                                déchets les étiquettes et la colle de la
                                Bouteille
                                <br>Puissance Moteur:7 ,5kw
                                <br>Ф vis:1800mm
                                <br>Volume:5,6m3
                                <br>Vitesse de vis:2,1rpm
                                <br>Matière: INOX
                            </td>
                            <td><img src='{% static "img/prod/6.png" %}'></td>

                        </tr>
                        <tr>
                            <td><b>Vis Chargeur</b>
                                <br>Moteur:2,2 KW
                                <br>Longueur:400mm
                                <br>Фvis:380mm
                                <br>Vitesse rotation:35 rpm
                                <br>Dimension:4300 *580*870mm
                            </td>
                            <td><img src='{% static "img/prod/7.png" %}'></td>

                        </tr>
                        <tr>
                            <td><b>Lavage avec frottement</b>
                                <br>pour éliminer la colle , les déchets et
                                l'huile sale
                                <br>Longueur:400mm
                                <br>Puissance Moteur:1,l kw
                                <br>Vis:500rpm
                                <br>Dimension:4500*110*2200
                                <br>Matériel métal: INOX
                            </td>
                            <td><img src='{% static "img/prod/8.png" %}'></td>

                        </tr>
                        <tr>
                            <td><b>Bacs de rinçage:</b>
                                <br>Nettoyage des flacons pour éliminer les
                                produits chimiques et le reste des
                                étiquettes et tout autres résidus
                                <br>Longueur:4000mm
                                <br>Puissance Moteur:4kw
                                <br>ФVis:380mm
                                <br>Vitesse de vis:25rpm
                                <br>Matériel métal: INOX
                                <br>Quantité de rouleau:5
                                <br>Dimension:600*1200*1850
                            </td>
                            <td><img src='{% static "img/prod/9.png" %}'></td>

                        </tr>
                        <tr>
                            <td><b>Vis Chargeur</b>
                                <br>Puissance Moteur:2,2kw
                                <br>Фvis:380mm
                                <br>Vitesse rotation 35 rpm
                                <br>Dimension:4300 *580*870mm
                            </td>
                            <td><img src='{% static "img/prod/10.png" %}'></td>

                        </tr>
                        <tr>
                            <td><b>Bacs de rinçage</b>
                                <br>Nettoyage des flacons pour
                                éliminer les produits chimiques
                                et le reste des étiquettes et tout autres
                                résidus
                                <br>Longueur:4000mm
                                <br>Puissance Moteur:4kw
                                <br>ФVis:380mm
                                <br>Vitesse de vis:25 rpm
                                <br>Matériel métal:INOX
                                <br>Quantité de rouleau:5
                                <br>Dimension:600*1200*1850
                            </td>
                            <td><img src='{% static "img/prod/11.png" %}'></td>

                        </tr>
                        <tr>
                            <td><b>Vis Chargeur</b>
                                <br>Puissance Moteur:2,2kw
                                <br>Longueur:400mm
                                <br>vis:380mm
                                <br>Vitesse rotation:35 rpmm
                            </td>
                            <td><img src='{% static "img/prod/12.png" %}'></td>

                        </tr>
                        <tr>
                            <td><b>Centrifugeuse de séchage</b>
                                <br>Puissance Moteur:7.5
                                <br>Dimension:1400*110*2450
                                <br>Poids:500kg
                                <br>Vitesse:1000rpm
                            </td>
                            <td><img src='{% static "img/prod/13.png" %}'></td>

                        </tr>
                        <tr>
                            <td><b>Système de séchage avec tuyaux d'air
                                chaude</b>
                                <br>Puissance Moteur 7,5 KW
                                <br>Puissance chauffage:37KW
                                <br>Matériel métal :INOX
                                <br>Longueur:18mm
                                <br>Ф tube:159 mm
                                <br>Dimension:3000*2000*2000
                            </td>
                            <td><img src='{% static "img/prod/14.png" %}'></td>

                        </tr>
                        <tr>
                            <td><b>Aspirateur 7,5 kw avec silo</b></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td><b>Armoire électrique schneider CE</b>
                            </td>
                            <td><img src='{% static "img/prod/15.png" %}'></td>

                        </tr>
                    </table>
                </section>

            </div>

        </div>
        <hr>
    </div>
</div>
