<div class="container-fluid">
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">

            <li class="active"><a href="#service-one" data-toggle="tab">PRODUCT INFO</a></li>


        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">

                <section class="container product-info">
                    <br>

                    <table>
                        <tr>
                            <td>Nozzles number</td>
                            <td>4</td>

                        </tr>
                        <tr>
                            <td>Filling volume</td>
                            <td>50-5000ml</td>

                        </tr>
                        <tr>
                            <td>Production capacity</td>
                            <td>20-50 bottles/min</td>

                        </tr>
                        <tr>
                            <td>Filling accuracy</td>
                            <td>≤±1%</td>

                        </tr>
                        <tr>
                            <td>Capping rate</td>
                            <td>≥98%</td>

                        </tr>
                        <tr>
                            <td>Labeling size</td>
                            <td>L10-200mm, W10-100mm</td>

                        </tr>
                        <tr>
                            <td>Air supply</td>
                            <td>1.5m3/h 0.4-0.7 Mpa</td>

                        </tr>
                        <tr>
                            <td>Voltage</td>
                            <td>AC220V, 50Hz</td>

                        </tr>
                        <tr>
                            <td>Power supply</td>
                            <td>1.5Kw</td>

                        </tr>
                        <tr>
                            <td>Machine net weight</td>
                            <td>300kg</td>

                        </tr>
                        <tr>
                            <td>Machine dimension</td>
                            <td>1800*800*1300mm</td>

                        </tr>
                    </table>
                </section>

            </div>
        </div>
    </div>


</div>