<div class="container-fluid">
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">

            <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>


        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">

                <section class="container product-info" style="font-size:20px">
                    <br>
                    cette unité existe en différents
                    Caractéristiques simple couche et double couche:
                    <br>
                    <br> <b>-SLW--500 Plastic Stretch Film Making Machine</b>
                    <br><b>-500mm double layers Stretch Film Making Machine</b>
                </section>

            </div>

        </div>
    </div>


</div>