{% load static %}
<div class="container-fluid">
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">
            <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
            <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>


        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">

                <section class="container product-info" style="font-size:20px">
                    <br>

                    <table>

                        <tr>
                            <td>Extrudeuse SJ
                                65/HY35
                            </td>
                            <td><img src='{% static "img/prod/20.png" %}'></td>

                        </tr>
                        <tr>
                            <td> Extrudeuse à
                                couleur SJ25/25CY
                            </td>
                            <td><img src='{% static "img/prod/21.png" %}'></td>

                        </tr>
                        <tr>
                            <td> Tunnel de
                                refroidissement
                            </td>
                            <td><img src='{% static "img/prod/22.png" %}'></td>

                        </tr>
                        <tr>
                            <td>Tireuse</td>
                            <td><img src='{% static "img/prod/23.png" %}'></td>

                        </tr>
                        <tr>
                            <td> Coupeuse Automatique</td>
                            <td><img src='{% static "img/prod/24.png" %}'></td>

                        </tr>
                        <tr>
                            <td>Coupeuse Automatique</td>
                            <td><img src='{% static "img/prod/25.png" %}'></td>

                        </tr>
                        <tr>
                            <td> Armoire de commande</td>
                            <td><img src='{% static "img/prod/26.png" %}'></td>

                        </tr>
                    </table>
                </section>

            </div>

            <div class="tab-pane fade" id="service-two">
                <section class="container">
                    <br>
                    <table>
                        <tr>
                            <th style="text-align: center;"> UNITE DE FABRICATION DES TUYAUX EN PEHD</th>
                        </tr>
                        <tr>
                            <td>équipée de :
                                <br><b>*Extrudeuse SJ65/30HY</b>
                                <br>Puissance moteur : 30KW
                                <br>Armoire électrique avec 02 ventilateurs de refroidissement
                                <br>Moteur de régulation PIPE
                                <br><b>*Extrudeuse à couleur SJ25/25CY</b>
                                <br>Optionnelle (donne la couleur bleue)
                                <br><b>*Tunnel de refroidissement</b>
                                <br>Epaisseur : 3mm
                                <br>Puissance pompe à vide : 4kw
                                <br>Puissance pompe d’eau : 3kw
                                <br><b>*Tireuse</b>
                                <br>Longueur : 1.8m
                                <br>Puissance moteur : 4kw
                                <br><b>*Imprimante à pipe</b>
                                <br><b>*Coupeuse Automatique</b>
                                <br>Diam lame :350mm
                                <br>Puissance Moteur :1.5kw
                                <br><b>*Enrouleuse Manuelle</b></td>
                        </tr>
                    </table>
                </section>

            </div>

        </div>
        <hr>
    </div>
</div>