<div class="container-fluid">
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">
            <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
            <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>


        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">

                <section class="container product-info" style="font-size:20px">
                    <br>
                    <table>
                        <tr>
                            <th style="text-align: center;"> Unité de fabrication des sachets en
                                plastique
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Equipée de :
                                <br><b>*Une extrudeuse à films DIAM VIS 55</b>
                                <br>Rotation vis 10-100r/min
                                <br>Puissance moteur 11kw
                                <br>Capacité de production 55kg
                                <br>Largeur de film 800mm
                                <br>Enroulement simple
                                <br>Puissance moteur 28kw
                                <br><b>*Une Platine soudeuse coupeuse 2 pistes</b>
                                <br>Largeur max de film 1000-750mm
                                <br>Epaisseur max de film 0,01-0,1mm
                                <br>Capacité de production 40-120pcs/min
                                <br>Puissance moteur 5,8kw -4,3Kw
                                <br><b>*Une presse Hydraulique à bretelles</b>
                                <br>Puissance moteur 1,5kw
                                <br>Dimensions table 710*410mm
                                <br>Dimensions global 710*800*1300mm
                            </td>
                        </tr>
                    </table>
                </section>

            </div>

            <div class="tab-pane fade" id="service-two">
                <section class="container">
                    <br>
                    <h4><b>Extrudeuse à film mono vis</b></h4>
                    <table>
                        <tr>
                            <th style="text-align: center">caractéristiques</th>
                            <th style="text-align: center">SJ-45A/FM600</th>
                            <th style="text-align: center">SJ-45A/FM600</th>
                            <th style="text-align: center">SJ-45A/FM600</th>

                        </tr>
                        <tr>
                            <td>Vis</td>
                            <td>45mm</td>
                            <td>55mm</td>
                            <td>65mm</td>

                        </tr>
                        <tr>
                            <td>Rotation vis</td>
                            <td>10-100 r/min</td>
                            <td>10-100 r/min</td>
                            <td>10-100 r/min</td>

                        </tr>
                        <tr>
                            <td>Puissance moteur</td>
                            <td>7.5 kw</td>
                            <td>11.5 kw</td>
                            <td>1.5 kw</td>

                        </tr>
                        <tr>
                            <td>capacité de production</td>
                            <td>35 kg/h</td>
                            <td>55 kg/h35 kg/h</td>
                            <td>78 kg/h</td>

                        </tr>
                        <tr>
                            <td>Largeur de film</td>
                            <td>600mm</td>
                            <td>800mm</td>
                            <td>1200mm</td>

                        </tr>
                        <tr>
                            <td>Enroulement</td>
                            <td>simple</td>
                            <td>simple</td>
                            <td>simple</td>

                        </tr>
                        <tr>
                            <td>Puissance moteur</td>
                            <td>18 kw</td>
                            <td>28 kw</td>
                            <td>32 kw</td>

                        </tr>

                    </table>
                    <br>
                    <h4><b>Extrudeuse à film double vis</b></h4>
                    <table>
                        <tr>
                            <th style="text-align: center">caractéristiques</th>
                            <th style="text-align: center">SSJ- 45/FM600</th>


                        </tr>
                        <tr>
                            <td>Vis</td>
                            <td>45mm</td>


                        </tr>
                        <tr>
                            <td>Rotation vis</td>
                            <td>10-100 r/min</td>


                        </tr>
                        <tr>
                            <td>Puissance moteur</td>
                            <td>15 kw</td>


                        </tr>
                        <tr>
                            <td>capacité de production</td>
                            <td>50 kg/h</td>


                        </tr>
                        <tr>
                            <td>longueur de pliage</td>
                            <td>500mm</td>


                        </tr>
                        <tr>
                            <td>Enroulement</td>
                            <td>simple</td>


                        </tr>
                        <tr>
                            <td>Puissance moteur</td>
                            <td>28 kw</td>


                        </tr>

                    </table>
                    <br>
                    <h4><b>Coupeuse soudeuse façonneuse à 02 pistes</b></h4>
                    <table>
                        <tr>
                            <th style="text-align: center">caractéristiques</th>
                            <th style="text-align: center">GFQ-800</th>
                            <th style="text-align: center">GFQ1000/800</th>

                        </tr>
                        <tr>
                            <td>Nombre de piste</td>
                            <td>04 pistes</td>
                            <td>02 pistes</td>

                        </tr>
                        <tr>
                            <td>Largeur max de film</td>
                            <td>160-350 MM</td>
                            <td>1000MM / 750MM</td>

                        </tr>
                        <tr>
                            <td>longueur max de film</td>
                            <td>320MM-650MM</td>
                            <td>1600MM</td>

                        </tr>
                        <tr>
                            <td>Epaisseur max de film</td>
                            <td>0,015-0,035MM</td>
                            <td>0,01-0,1MM</td>

                        </tr>
                        <tr>
                            <td>Capacité de production</td>
                            <td>60-100PCS/MIN*4</td>
                            <td>40-120PCS/MIN</td>

                        </tr>
                        <tr>
                            <td>Puissance moteur</td>
                            <td>9KW</td>
                            <td>5,8KW / 4,3KW</td>


                    </table>
                </section>

            </div>

        </div>
        <hr>
    </div>
</div>