<div class="container-fluid">
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">

            <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
            <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>


        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">

                <section class="container product-info" style="font-size:20px">
                    <br>
                    la granulation permet d’obtenir un produit similaire et homogéne qui se
                    compose de grain de plastique
                    considérée comme produit <br>ou matiére premiére régénéré destinée à
                    l’injection plastique ou l’extrusion .
                    l’unité de granulation sera équipée d’un vis de<br> plusieurs diamétres (45
                    jusqu'à 200mm) enclavé dans un foraux engendré par
                    plusieurs résistances en série qui permettent<br> l’échauffement de vis .Cette
                    unité est terminée par une tête de filtre interchangeable qui permet la
                    composition de granulé et un<br> systéme de dégazage .un bac de refroidissement est en serie avec
                    l’unité de granulation qui
                    permet le refroidissement<br> des spaghettis provenat de filtres.
                    aprés l’opération de durcissement dû au refroidissement( choc thermique )
                    une coupeuse<br> automatique à vitesse réglable permet l’otention de
                    produit semi fini ou granulé.
                </section>

            </div>
            <div class="tab-pane fade" id="service-two">

                <section class="container">
                    <br>

                    <table>
                        <tr>
                            <td>Diam VIS</td>
                            <td>120mm</td>

                        </tr>
                        <tr>
                            <td>Diam Fourreaux</td>
                            <td>160mm</td>

                        </tr>
                        <tr>
                            <td>Puissance Moteur</td>
                            <td>45Kw</td>

                        </tr>
                        <tr>
                            <td>Filtre Hydraulique</td>
                            <td>200mm</td>

                        </tr>
                        <tr>
                            <td>Puissance moteur Filtre</td>
                            <td>2,2Kw</td>

                        </tr>
                        <tr>
                            <td>Puissance moteur de coupeuse</td>
                            <td>1,5Kw</td>

                        </tr>
                        <tr>
                            <td>Bac de refroidissement (L*L*H)</td>
                            <td>2500*330m*330m</td>

                        </tr>
                    </table>
                </section>

            </div>

        </div>
        <hr>
    </div>
</div>