<div class="container-fluid">
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">

            <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
            <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>


        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">

                <section class="container product-info" style="font-size:20px">
                    <br>
                    Ce sont des machines qui se présentent avec différente capacité 300kg/h, 500kg/et
                    1000kg/h
                </section>

            </div>
            <div class="tab-pane fade" id="service-two">

                <section class="container">
                    <br>

                    <table>
                        <tr>
                            <td>Motor power
                            </th>
                            <td>22kw
                            </th>

                        </tr>
                        <tr>
                            <td>Label exit blower 1
                            </th>
                            <td>2.2kw
                            </th>

                        </tr>
                        <tr>
                            <td>Label exit blower 2
                            </th>
                            <td>1.5-2.2kw
                            </th>

                        </tr>
                        <tr>
                            <td>Label removing capacity
                            </th>
                            <td>1000kg/h
                            </th>

                        </tr>
                        <tr>
                            <td>Label removing efficiency
                            </th>
                            <td>98% (suitable for round bottle)
                            </th>

                        </tr>
                        <tr>
                            <td>Machine dimension
                            </th>
                            <td>4000*1000*1500mm
                            </th>

                        </tr>
                        <tr>
                            <td>Machine weight
                            </th>
                            <td>1500kg
                            </th>

                        </tr>
                        <tr>
                            <td>Machine material
                            </th>
                            <td>45 carbon steel
                            </th>

                        </tr>
                    </table>
                </section>

            </div>

        </div>
        <hr>
    </div>
</div>
