<div class="container-fluid">
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">

            <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
            <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>


        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">

                <section class="container product-info" style="font-size:20px">
                    <br>
                    Ce sont des machines qui se présentent en plusieurs dimensions et caractéristiques
                    selon la demande <b>6090,6060, 1218, 1224, 1325, 1530, 2030,2040</b>.
                </section>

            </div>
            <div class="tab-pane fade" id="service-two">

                <section class="container">
                    <br>
                    <h3><b>*LASER ENGRAVER AND CUTTER</b></h3>
                    <table>
                        <tr>
                            <td>Model</td>
                            <td>ITJ9060</td>

                        </tr>
                        <tr>
                            <td>Laser medium</td>
                            <td>CO2</td>

                        </tr>
                        <tr>
                            <td>Working area</td>
                            <td>900*600</td>

                        </tr>
                        <tr>
                            <td>Working tabel</td>
                            <td>Knife table</td>

                        </tr>
                        <tr>
                            <td>Laser power</td>

                            <td>150W</td>

                        </tr>
                        <tr>
                            <td>Power Supply</td>
                            <td>220V/380V/50 Hz /60Hz</td>

                        </tr>
                        <tr>
                            <td>Min line width</td>
                            <td>0.15mm</td>

                        </tr>
                        <tr>
                            <td>Position accuracy</td>
                            <td>0.01mm</td>

                        </tr>
                        <tr>
                            <td>Repetition accuracy</td>
                            <td>0.02mm</td>

                        </tr>

                        <tr>
                            <td>Cutting speed</td>
                            <td>150mm/s</td>

                        </tr>

                        <tr>
                            <td>Guide rail</td>
                            <td>Hiwin from Taiwan</td>

                        </tr>

                        <tr>
                            <td>Repetition accuracy</td>
                            <td>0.02mm</td>

                        </tr>

                        <tr>
                            <td>Transmission method</td>
                            <td>Belt Transmission</td>

                        </tr>

                        <tr>
                            <td>Drive system</td>
                            <td>Leadshine driving sstem and stepper motor</td>

                        </tr>

                        <tr>
                            <td>Cooling system</td>
                            <td>Water-cooling</td>

                        </tr>

                        </tr>

                        <tr>
                            <td>Control system</td>
                            <td>DSP off-line</td>

                        </tr>

                        </tr>

                        <tr>
                            <td>Control software</td>
                            <td>Coreldraw,Photoshop,AutoCAD,Tajima</td>

                        </tr>
                        <tr>
                            <td>Graphic format support</td>
                            <td>PLT,DXF,BMPJPG,AI and ect</td>

                        </tr>
                    </table>

                    <br>
                    <h3><b>*LASER CUTTER 1325</b></h3>
                    <table>
                        <tr>
                            <td>Model</td>
                            <td>ITJ1325</td>

                        </tr>
                        <tr>
                            <td>Laser medium</td>
                            <td>CO2</td>

                        </tr>
                        <tr>
                            <td>Working area</td>
                            <td>1300*2500mm</td>

                        </tr>
                        <tr>
                            <td>Working tabel</td>
                            <td>Knife table</td>

                        </tr>
                        <tr>
                            <td>Laser power</td>

                            <td>150W</td>

                        </tr>
                        <tr>
                            <td>Power Supply</td>
                            <td>220V/380V/50 Hz /60Hz</td>

                        </tr>
                        <tr>
                            <td>Min line width</td>
                            <td>0.15mm</td>

                        </tr>
                        <tr>
                            <td>Position accuracy</td>
                            <td>0.01mm</td>

                        </tr>
                        <tr>
                            <td>Repetition accuracy</td>
                            <td>0.02mm</td>

                        </tr>

                        <tr>
                            <td>Cutting speed</td>
                            <td>150mm/s</td>

                        </tr>

                        <tr>
                            <td>Guide rail</td>
                            <td>Hiwin from Taiwan</td>

                        </tr>

                        <tr>
                            <td>Transmission method</td>
                            <td>Belt Transmission</td>

                        </tr>

                        <tr>
                            <td>Drive system</td>
                            <td>Leadshine driving sstem and stepper motor</td>

                        </tr>

                        <tr>
                            <td>Cooling system</td>
                            <td>Water-cooling</td>

                        </tr>

                        </tr>

                        <tr>
                            <td>Control system</td>
                            <td>DSP off-line</td>

                        </tr>

                        </tr>

                        <tr>
                            <td>Control software</td>
                            <td>Coreldraw,Photoshop,AutoCAD,Tajima</td>

                        </tr>
                    </table>
                </section>

            </div>

        </div>

    </div>
</div>