<div class="container-fluid">
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">

            <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
            <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>


        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">

                <section class="container product-info" style="font-size:20px">
                    <br>
                    C’est une machine automatique à grande vitesse avec la station multi-travail.
                    Puisqu’elle possède une alimentation automatique de<br> papier, Ce genre de tasse peut
                    être pour les boissons, crème glacée, etc. Cette machine a adopté de nouvelles
                    technologies, telles <br>que la station de travail multi-tête de moule rotatif, équipée d’unsystème
                    de commande PLC. Elle se présente en deux modèles <br>simple couche
                    et double couche.
                </section>

            </div>
            <div class="tab-pane fade" id="service-two">

                <section class="container">
                    <br>
                    <table>
                        <tr>
                            <th style="text-align: center">Model</th>
                            <th style="text-align: center">JBZ-A04</th>
                            <th style="text-align: center">JBZ-A12</th>
                            <th style="text-align: center">JBZ-A16</th>
                            <th style="text-align: center">JBZ-A22</th>

                        </tr>
                        <tr>
                            <td>Specification</td>
                            <td> 2oz to 6.5 oz</td>
                            <td>6 oz to 12 oz</td>
                            <td>12 oz to 16 oz</td>
                            <td>16 oz to 22 oz</td>
                        </tr>
                        <tr>
                            <td>Material)</td>
                            <td>single side PE coated paper</td>
                            <td>single side PE coated paper</td>
                            <td>single side PE coated paper</td>
                            <td>single side PE coated paper</td>
                        </tr>
                        <tr>
                            <td>Output</td>
                            <td>40-50 pcs/min</td>
                            <td>40-50 pcs/min</td>
                            <td>35-45 pcs/min</td>
                            <td>35-45 pcs/min</td>
                        </tr>
                        <tr>
                            <td>Power</td>
                            <td>380V 50HZ</td>
                            <td>380V 50HZ</td>
                            <td>380V 50HZ</td>
                            <td>380V 50HZ</td>
                        </tr>
                        <tr>
                            <td>total power</td>
                            <td>5KW</td>
                            <td>5KW</td>
                            <td>5KW</td>
                            <td>6KW</td>
                        </tr>

                        <tr>
                            <td>Weight</td>
                            <td> 1600Kg</td>
                            <td>1700Kg</td>
                            <td>1700Kg</td>
                            <td>1800Kg</td>
                        </tr>
                    </table>


                </section>

            </div>

        </div>

    </div>
</div>