{% load static %}

<div class="container-fluid">
    <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">
            <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
            <li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>


        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="service-one">

                <section class="container product-info" style="font-size:20px">
                    <br>
                    La Machine de gravure est utilisée dans de nombreux secteurs
                    d'applications tels que les arts graphiques, la plasturgie, les<br>
                    matériaux composites et l'industrie de transformation de l'aluminium. Il a
                    des avantages comme la rapidité de vitesse de <br>traitement et la gravure à
                    grande échelle. Il peut être largement appliqué dans des marques
                    d'annonce à grande échelle, la <br>fabrication de modèles, etc.
                    Vue la grande taille de traitement de ce modèle, il peut économiser le
                    matériel en grande partie<br> et améliorer l'efficacité. Elle se présente en
                    plusieurs dimensions et caractéristiques selon la demande de client.
                    <br>CNC 6090, 6060, 1218, 1214, 1325, 1530, 2030,2040.


                </section>

            </div>

            <div class="tab-pane fade" id="service-two">
                <section class="container">
                    <br>
                    <h4><b>Les accessoires</b></h4>
                    <table>

                        <tr>
                            <td>Tête ItalienneTête Italienne</td>
                            <td><img src='{% static "img/prod/30.png" %}'></td>

                        </tr>
                        <tr>
                            <td> Rotary fixed +finished product</td>
                            <td><img src='{% static "img/prod/31.png" %}'></td>

                        </tr>
                        <tr>
                            <td> Moteur
                                pas à pas
                            </td>
                            <td><img src='{% static "img/prod/32.png" %}'></td>

                        </tr>
                        <tr>
                            <td>Inverter</td>
                            <td><img src='{% static "img/prod/33.png" %}'></td>

                        </tr>
                        <tr>
                            <td> Système de
                                commande :DSP
                            </td>
                            <td><img src='{% static "img/prod/34.png" %}'></td>

                        </tr>
                        <tr>
                            <td>Driver</td>
                            <td><img src='{% static "img/prod/35.png" %}'></td>

                        </tr>
                        <tr>
                            <td> Removable table</td>
                            <td><img src='{% static "img/prod/36.png" %}'></td>

                        </tr>
                    </table>

                </section>

            </div>

        </div>
        <hr>
    </div>
</div>