{% extends "base.html" %}
{% load staticfiles %}
{% block esp %}
    <br><br><br>

{% endblock %}
{% block script %}
    <script>
        document.getElementById("prod").classList.add("active");
    </script>
{% endblock %}

{% block style %}
    <link href='{% static "css/bootstrap.css" %}' rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Bootbusiness theme -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link href='{% static "css/body.css" %}' rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
    <style>
        html, body {

            font-family: 'Sansita', sans-serif;
        }
    </style>
    <style>
        table, td, th {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
            width: 60%;
            float: center;
        }

        td {
            height: 50px;
            padding: 15px;
            width: 50%;
        }

    </style>




{% endblock %}


{% block title %}
    produit
{% endblock %}


{% block content %}




    <!-- Start: Navigation wrapper -->
    <!-- Start: HEADER -->
    <div class="page-header">
        <div class="content">


            <div class="container">
                <div class="w3-main" id="main">
                    <br>
                    <div class="w3-teal">

                    </div>
                    <br>

                    <div class="container-fliud">
                        <div class="wrapper row">
                            <div class="preview col-md-6">

                                <div class="preview-pic tab-content">
                                    <div class="tab-pane active" id="pic-1"><img src='{{ instance.images0.url }}'/>
                                    </div>
                                    {% if instance.images1 %}
                                        <div class="tab-pane" id="pic-2"><img src='{{ instance.images1.url }}'/></div>
                                    {% endif %}
                                    {% if instance.images2 %}
                                        <div class="tab-pane" id="pic-3"><img src='{{ instance.images2.url }}'/></div>
                                    {% endif %}
                                    {% if instance.images3 %}
                                        <div class="tab-pane" id="pic-4"><img src='{{ instance.images3.url }}'/></div>
                                    {% endif %}
                                    {% if instance.images4 %}
                                        <div class="tab-pane" id="pic-5"><img src='{{ instance.images4.url }}'/></div>
                                    {% endif %}
                                </div>
                                <ul class="preview-thumbnail nav nav-tabs">
                                    <li class="active"><a data-target="#pic-1" data-toggle="tab"><img
                                            src='{{ instance.images0.url }}'/></a></li>
                                    {% if instance.images1 %}
                                        <li><a data-target="#pic-2" data-toggle="tab"><img
                                                src='{{ instance.images1.url }}'/></a></li>
                                    {% endif %}
                                    {% if instance.images2 %}
                                        <li><a data-target="#pic-3" data-toggle="tab"><img
                                                src='{{ instance.images2.url }}'/></a></li>
                                    {% endif %}
                                    {% if instance.images3 %}
                                        <li><a data-target="#pic-4" data-toggle="tab"><img
                                                src='{{ instance.images3.url }}'/></a></li>
                                    {% endif %}
                                    {% if instance.images4 %}
                                        <li><a data-target="#pic-5" data-toggle="tab"><img
                                                src='{{ instance.images4.url }}'/></a></li>
                                    {% endif %}
                                </ul>

                            </div>
                            <div class="details col-md-6">
                                <h3 class="product-title">{{ instance.nom_produit }}</h3>
                                <div class="rating">
                                    <div class="stars">
{#                                        {% for i in "xxxxx" %}#}
{#                                            {% if instance.cheked == "true" %}#}
{#                                                <span class="fa fa-star checked"></span>#}
{#                                            {% else %}#}
{#                                                <span class="fa fa-star"></span>#}
{#                                            {% endif %}#}
{#                                        {% endfor %}#}
                                    </div>

                                </div>


                                <p class="product-description">{{ instance.description }}</p>
                                <hr>
                                <h4 class="price"> Prix: <span>${{ instance.prix }}</span></h4>


                                </h5>

                            </div>
                        </div>
                    </div>
                    <br>

                </div>
            </div>
            {% with "produits/"|add:id|add:".html" as template %}
                {% include template %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
