{% extends "base.html" %}
{% load staticfiles %}
{% block esp %}
<br><br><br>

{% endblock %}


{% block style %}
    <link href='{% static "css/acceuil/presentation.css" %}' rel="stylesheet">
{% endblock %}

{% block content %}




<br><br><br>
<br><br><br>

<div class="container">


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <div class="box-icon">
                    <span ><img src='{% static "img/soteq.jpg" %}'></span>
                </div>
                <div class="info">

                  <div class="row">
                      <div>
                          <div class="col-lg-12">

                              <h1 class="text-center" ><span style="color: #CD5C5C;font-family: 'Sansita' ">Soumettre un projet</span></h1>

<div>
                              <form action="" method="post" role="form" class="contactForm">
                                  <div class="row">
                                      <div class="form-group col-lg-4">
                                          <label>Nom</label>
                                          <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                                 data-rule="minlen:4" data-msg="Please enter at least 4 chars"/>
                                          <div class="validation"></div>
                                      </div>
                                      <div class="form-group col-lg-4">
                                          <label>Email</label>
                                          <input type="email" class="form-control" name="email" id="email"
                                                 placeholder="Your Email"
                                                 data-rule="email" data-msg="Please enter a valid email"/>
                                          <div class="validation"></div>
                                      </div>
                                      <div class="form-group col-lg-4">
                                          <label>Téléphone</label>
                                          <input type="email" class="form-control" name="phone" id="email"
                                                 placeholder="Your Phone Number"
                                                 data-rule="phone Number" data-msg="Please enter a valid phone Number"/>
                                          <div class="validation"></div>
                                      </div>
                                      <div class="clearfix"></div>
                                      <div class="form-group col-lg-12">
                                          <label>Description</label>
                                          <textarea class="form-control" name="message" rows="5" data-rule="required"
                                                    data-msg="Please write something for us" placeholder="Message"></textarea>
                                          <div class="validation"></div>
                                      </div>
                                      <div class="form-group col-lg-12">
                                          <input type="hidden" name="save" value="contact">
                                          <p style="text-align: center;">
                                              <button class="btn btn-primary " style="background-color:#CD5C5C">Soumettre</button>
                                          </p>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
</div>


                </div>
            </div>
        </div>

    </div>




<br><br><br><br><br>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div>
                    <div class="box-icon">
                        <span ><img src='{% static "img/soteq.jpg" %}'></span>
                    </div>
                    <div class="info">
  <h1 class="text-center" ><span style="color: #CD5C5C;font-family: 'Sansita' ">Des projets qu'on a réalisé</span></h1>
    <br><br><br>

    <center>
    <ul class="list-group">
                <li class="list-group-item list-group-item-warning">confection cuivre et textile</li>
                <li class="list-group-item list-group-item-warning">moulin</li>
                <li class="list-group-item list-group-item-warning">tout type de menuiserie</li>
                <li class="list-group-item list-group-item-warning">recyclage de plastique</li>
                <li class="list-group-item list-group-item-warning">unité de formage de tôle</li>
                 <li class="list-group-item list-group-item-warning">chaîne de production aliment poisson</li>
                <li class="list-group-item list-group-item-warning">chaîne de production aliment Bétail</li>
                <li class="list-group-item list-group-item-warning">Unité de fabrication de charbon</li>
                 <li class="list-group-item list-group-item-warning">marbrerie</li>
                <li class="list-group-item list-group-item-warning">machine de fabrication de glace alimentaire</li>
                <li class="list-group-item list-group-item-warning">unité de presse à tomate séchée</li>
                <li class="list-group-item list-group-item-warning">unité de fabrication de sachet en plastique</li>
                <li class="list-group-item list-group-item-warning">unité de broyage et de recyclage d'aluminium</li>
                 <li class="list-group-item list-group-item-warning">unité de recyclage de déchet textile</li>
                <li class="list-group-item list-group-item-warning">tôlerie et mécanique</li>
                <li class="list-group-item list-group-item-warning">matériels géophysiques</li>
                 <li class="list-group-item list-group-item-warning">unité de mise en bouteille</li>
                <li class="list-group-item list-group-item-warning">unité cosmétique et détergents</li>
                 <li class="list-group-item list-group-item-warning">station de lavage automatique</li>
                <li class="list-group-item list-group-item-warning">nettoyage à sec et buanderie</li>
                <li class="list-group-item list-group-item-warning">boulangerie et pâtisserie</li>
                <li class="list-group-item list-group-item-warning">tour mécanique et fraiseuse</li>
                <li class="list-group-item list-group-item-warning">vulcanisateur et réparation des roues</li>
                <li class="list-group-item list-group-item-warning">unité de traitement des eaux</li>
            </ul>
    </center>



                    </div>
                </div>
            </div>

        </div>





    </div>

{% endblock %}
